.Layout{
    width: 90%;
    margin: 0 auto;
}

.space-between{
    justify-content: space-between;
}

.aling-center{
    align-items: center;
} 

.justify-center{
    justify-items: center;
}

.uppercase{
    text-transform: uppercase;
}

.f-w-300{
    font-weight: 300;
}

.f-w-400{
    font-weight: 400;
}

.f-w-500{
    font-weight: 500;
}

.letter-spacing3{
    letter-spacing: 3px;
}

.btn2{
    width: 140px;
}

.my-t-10{
    margin-top: 10px;
}
   
.my-t-20{
    margin-top: 20px;
}
    
